@import '../../../assets/sass/main';

.custom-button{
    border: none;
    outline: none;
    padding: 1.5rem 3rem;
    border-radius: 50px;
    font-size: $font-size-default;
    color: white;
    font-family: inherit;
    transition: all .2s;
    cursor: pointer;


    &--green{
        background-color: $color-green;

        &:hover{
            background-color: $color-green-darker;
        }
    }
    &--green-darker{
        background-color: $color-green-darker;
        &:hover{
            background-color: $color-green;
        }
    }

    &--blue{
        background-color: $color-blue;
        &:hover{
            background-color: $color-blue-darker;
        }
    }
    &--orange{
        background-color: $color-orange;
        &:hover{
            background-color: $color-orange-darker;
        }
    }
}