.hp-section{

    padding: 5rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    &__img-box{
        width: 50%;
        

        &-image{
            max-width: 70%;
            height: auto;
        }
    }

    &__info{
        width: 50%;
    }

    &__text{
        color: $color-gray;
    }

    &__buttons{
        margin-top: 7rem;
        a{
            text-decoration: none;
            margin-right: 2rem;
        }
    }
}