///////////////////////////
//FONT SIZE

$font-size-default: 1.6rem;
$font-size-bigger: 2rem;
$font-size-smaller: 1.4rem;


///////////////////////////
//COLORS

$color-gradient-green-darker: #11998E;
$color-gradient-green-lighter: #33C169;


$color-gray: #787878;

$color-green: #33C169;
$color-green-darker: #0D6C65;
$color-green-lighter: #D4F2DF;

$color-blue: #33C1FF;
$color-blue-darker: #50B1D3;
$color-blue-lighter: #D4EBF2;


$color-orange: #FFAD33;
$color-orange-darker: #C78626;
$color-orange-lighter: #F2E8D4;

$color-footer: #3B8686;